/* ---- ---- ---- MULTIMEDIA ---- ---- ---- */
/* Variables */
:root {
    --color_multimedia: #b9e769;
}

/* ---- ---- ---- Estilos Multimedia ---- ---- ---- */
/* Pestaña multimedia */
header nav .pestaña {
    background: var(--color_multimedia);
}

/* Estilos generales */
body {
    background: #f4f4f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor audio */
.multimedia-audio {
    background: var(--color_multimedia);
    font-family: Arial, Helvetica, sans-serif;
}

.audio {
    margin: 0 auto;
    display: flex;
    border-bottom: 5px solid var(--color_multimedia);
}

.audio p {
    width: 55%;
    padding: 11px 20px;
    background: #fff;
}

audio {
    width: 45%;
    background: #fff;
}

/* Contenedor video */
.multimedia-video {
    background: #f4f4f9;
}

.multimedia-video .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.video {
    grid-column: span 1;
    overflow: hidden;
}

.video iframe {
    width: 100%;
}


/* ---- ---- ---- ---- ---- ---- ---- */
/* ---- ---- Media Queries ---- ---- */
/* Contenedor audio */
@media screen and (max-width: 550px) {
    .audio {
        overflow: hidden;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        border-bottom: 10px solid var(--color_multimedia);
    }
    .audio p {
        border-radius: 5px 5px 0 0;
        width: 100%;
    }
    audio {
        border-radius: 0 0 5px 5px;
        width: 100%;
    }
}

/* Contenedor video */
@media screen and (max-width: 1000px) {
    .video iframe { height: 250px; }
}
@media screen and (max-width: 900px) {
    .video iframe { height: 240px; }
}
@media screen and (max-width: 800px) {
    .video iframe { height: 230px; }
}
@media screen and (max-width: 700px) {
    .video iframe { height: 220px; }
}

@media screen and (max-width: 700px) {
    .multimedia-video .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .video iframe { height: 360px; }
}
@media screen and (max-width: 600px) {
    .video iframe { height: 300px; }
}
@media screen and (max-width: 500px) {
    .video iframe { height: 240px; }
}
@media screen and (max-width: 400px) {
    .video iframe { height: 180px; }
}
